{% extends "base.html" %}
{% block title %}Register Page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<form action="#" method="post">
  <p>Please enter a username and password to register:</p>
  <p><input type="text" name="nm" placeholder="Username" />
  <input type="text" name="pcode" placeholder="Password" /></p>
  <p><input type="submit" name="submit" value="Register" /></p> 
</form>
{% endblock %}
